@charset "utf-8";

* {
    outline: none;
}

body {
    margin: 0 auto;
    min-width: 375px;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #bdbdbd;
    background: #f2f2f2;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.container-in {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    color: #333333;
}

h2 {
    color: #323232;
}

.header {
    background: #008bd4;
    color: #ffffff;    
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.logo {
    position: absolute;
    margin-left: -72px;
}

.menu__list,
.area-country__list,
.social__list {
    margin:  0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: inline-block;
    position: relative;
    margin: 0 5px;

}

.menu__link {
    display: block;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;    
    text-decoration: none;
    padding: 5px 30px 5px 10px;
}



span {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  color: #ffffff;
}

.datepicker-here span {
    color: #828282;
    display: block;
}

.menu__item:hover .menu__link,
.menu__item--active .menu__link {
    color: transparent;
}

.menu__item:hover span,
.menu__item--active span {
    display: block;
    font-weight: bold;
    margin-left: -2px;
    left: 10px;
    right: 0;
    top: 5px;
}

.form {
    background: #ffffff;
    margin-bottom: 60px;
}

.selection-menu {
    display: inline-block;
}

.selection__list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.selection__item {
    display: inline-block;
    margin-right: 2px;
}

.selection__link {
    display: block;
    padding: 15px 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #bdbdbd;
    text-decoration: none;
    position: relative;
}

.selection__item:hover .selection__link {
    color: #2d9cdb;
}
.selection__item:hover .selection__link::after {
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    background: #2d9cdb;
    bottom: 0;
    left: 17px;
}

.form__top {
    position: relative;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 40px;

}

.selection__block--about {
    width: 220px;
}

.form__acts {
    position: relative;
    padding: 0 20px;
}

.selection-about {
    margin-bottom: 50px;
    display: inline-block;
}

.selection__btn {
    border: none;
    background: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 20px;
    cursor: pointer;
    background: url(../img/sprite.png) no-repeat
}

.selection__btn--add {
    color: #2d9cdb;
}

.selection__btn--delete {
    color: #d75a4a;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
}

.selection__btn-block,
.selection__view-block {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.selection__btn-block::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../img/sprite.png) no-repeat;
    top: 4px;
    left: 0;
}

.selection__btn-block--add::after {
    background-position: -61px -32px;
}

.selection__btn-block--delete {
    float: right;
    margin-right: 178px;
    top: 5px;
}

.selection__btn-block--delete::after {
    background-position: -162px -32px;
}

.selection__block {
    display: inline-block;
    position: relative;
    font-size: 12px;
    margin-right: 30px;
}

.selection__label {
    position: absolute;
    margin: -25px 0 0 10px;
}

.form__input {
    width: 100%;
    top: 25px;
    box-sizing: border-box;
    color: #333333;
    border-radius: 2px;
    border: 1px solid #bdbdbd;
    padding: 5px 10px;
}

.form__input--selection {
    /*width: 224px;*/
    box-sizing: border-box;
    /*margin-right: 30px;*/
}

.delete,
.clear {
    position: relative;
    right: -180px;
    top: -19px;
    cursor: pointer;
}

.delete::before,
.clear::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background: #bdbdbd;
    transform: rotate(45deg);
}

.delete::after,
.clear::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background: #bdbdbd;
    transform: rotate(-45deg);
}

.area {
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    padding: 0 15px 20px;
    color: #333333;
    margin-bottom: 25px;
}

.area-country__item {
    display: none;
    position: relative;
    padding: 5px 0 5px 35px;
    background: #f2f2f2;
    border-radius: 20px;
    width: 156px;
    box-sizing: border-box;
}



.area-country__item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    left: 9px;
    top: 10px;
    background: url(../img/sprite.png) no-repeat;
}

.area-country__item--tailand::before {
    background-position: -60px -120px ;
}

.area-country__item--vietnam::before {
    background-position: -161px -121px ;
}

.area-country__item--indonesia::before {
    background-position: -249px -119px ;
}

.area-country__item--show {
    display: inline-block;
}

.delete--country {
    left: 80px;
    top: -12px;
}

.delete--country-none {
    
}

.area__btn {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 50px;
    border: 1px solid #2d9cdb;
    color: #2d9cdb;
    background: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 5px 15px;
    cursor: pointer;
}

.area__btn:hover {
    background: #2d9cdb;
    color: #ffffff;
}


.tour {
    margin-bottom: 50px;
}

.hotel {
    width: 78%;
    margin-bottom: 30px;
    display: inline-block;
    margin-right: -70px;
}

.form__input--tour,
.form__input--hotel {
    
    margin-right: 0;
}

.selection__block--date {
    width: 29%;
}

.selection__block--how {
    width: 17%;
}


.selection__block--num {
    width: 20%;
}

.selection__block--cost {
    width: 35%;
}

.selection__block--tour,
.selection__block--hotel {
    margin-right: -5px;
}

.selection__block--category {
    width: 25%;
}

.selection__block--rating {
    width: 20%;
}

.selection__block--food {
    width: 20%;
}

.selection__block--where {
    width: 25%;
}

.btn-view {
    background: #ff8e41;
    border: none;
    padding: 7px 40px 7px 20px;
    color: #ffffff;
    text-transform: uppercase;
}
.view {
    position: absolute;
    display: none;
    color: #ffffff;
    text-transform: uppercase;
}

.selection__view-block {
    float: right;

}

.selection__view-block::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 7px;
    top: 10px;
    background: url(../img/sprite.png) no-repeat -249px -31px;
}

.footer {
    background: #ffffff;
    padding-top: 30px;
}

.footer__address, 
.footer__schedule, 
.footer__contacts,
.footer__social {
    display: inline-block;
    vertical-align: top;
}

.footer__address, 
.footer__schedule {
    float: left;
}

.footer__address {
    margin-right: 12%;
}

.footer__contacts,
.footer__social {
    float: right;
   
}

.footer__social {
     margin-left: 12%;
}

.footer__text {
    margin: 0;
}

.footer__link {
    text-decoration: none;
    color: #bdbdbd;
    border-bottom: 1px dotted #bdbdbd;
}

.social__link {
    text-decoration: none;
    color: #bdbdbd;
}

.social__link:hover {
    color: #ff8e41;
}

.footer__copyright {
    float: right;
    margin-bottom: 30px;
}



.range {
    top: -123px;
    width: 162px;
    right: -271px;
}

.slider-range-block,
.slider-range-max-block {
    display: none;
    position: absolute;
    top: -58px;
    left: 162px;
    width: 200px;
    border: 20px solid #ffffff;
    border-bottom: 40px solid #ffffff;
    border-top: 40px solid #ffffff;
    border-radius: 2px;
    z-index: 100;
    box-shadow: 0 0 0 1px #bdbdbd, 1px 1px 4px 1px #9c9c9c;
}

.night {
    width: 5px;

    position: absolute;
    top: 6px;
    left: 46px;
    color: #333333;
    display: block;
    background: #ffffff;
}

.slider-block--show {
    display: block;
}

#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;}



.datepicker--nav {
    display: none;
}

.pull-menu, 
.pull-selection-menu {
    display: none;
}


@media screen and (max-width: 1130px) {
.logo {
        margin-left: 5px;
    }

    .menu {
            margin-left: 100px;
    }
}


@media screen and (max-width: 870px) {
    .menu__link {
        padding: 5px 10px 5px 10px;
    }

    .selection__link {
        padding: 15px 10px;
    }

    .footer__address {
        margin-right: 7%;
    }

    .footer__social {
        margin-left: 7%;
    }
}

@media screen and (max-width: 800px) {
    .menu__item {
        margin: 0;
    }

    .selection__block--about {
        margin-right: 10px;
    }

    .selection__link {
        padding: 15px 8px;
        font-size: 13px;
    }

    .selection__btn {
        font-size: 13px;
    }

    .selection__btn-block--delete {
    margin-right: 160px;
    top: 7px;
    }

    .btn-view {
        padding: 5px 30px 6px 20px;
    }

    .selection__block--rating {
        width: 113px;
    }

    .footer__address {
        margin-right: 5%;
    }

    .footer__social {
        margin-left: 5%;
    }
}

@media screen and (max-width: 750px) {
    .selection__block--about {
        width: 200px;
    }

    .clear {
        right: -160px;
    }

}

@media screen and (max-width: 720px) {
    .menu {
        display: block;
        margin-left: 100px;
        text-align: center;
    }

    .menu__list {
        display: none;
    }

    .pull-menu {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 3%;
        position: relative;
            margin-left: -121px;
    }

    .menu__item {
        display: block;
        text-align: center;
        margin-left: -119px;
    }

    .selection__block--category {
        width: 125px;
    }

    .btn-view {
        padding: 5px 30px 6px 10px;
    }

    .footer__text,
    .footer__link {
        font-size: 11px;
    }

}

@media screen and (max-width: 690px) {
    h1 {
        font-size: 1.7em;
    }

    .selection__view-block {
       color: #ff8e41;
        top: 0;
        text-align: center;

    }

    .btn-view {
        width: 150px;
        color: #ff8e41;
        padding: 6px 30px 7px 10px;
    }

    .view {
        display: block;
        position: absolute;
        top: 6px;
        left: 0;
    }

    .selection__view-block::after {
        display: none;
    }

    .selection-menu {
        display: block;
        text-align: center;
    }

    .selection__list {
        display: none;
        text-align: center;
    }

    
    .pull-selection-menu {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: #bdbdbd;
        text-decoration: none;
        padding: 10px 3%;
        position: relative;
        text-align: center;
    }


    .selection__item {
        display: block;
    }

   .selection__item:hover .selection__link::after {
        display: none;
   }

    .selection__link {
        padding: 3px 8px 10px;
    }

    .selection__btn-block {
        display: block;
        text-align: center;
    }

    .selection__btn-block--add::after {
        left: calc(50% - 92px);
    }

    .hotel {
        display: block;
        width: 100%;
        margin-bottom: 56px;

    }


    .selection__block--hotel {
        
        width: 25%;
    }

    .selection__block--where {
        width: 26%;
    }

    .selection__btn-block--delete {
        top: -40px;
    }
}

@media screen and (max-width: 660px) {

    .selection__view-block {
        top: -14px;
        text-align: center;
    }

    .selection__block {
        width: 80%;
        display: block;
        margin-top: 6px;
    }
    .selection__block--about {
        width: 75%;
    }

    .form__input--tour,
    .form__input--hotel {
        margin-left: 135px;
        width: 70%;
    }

    .form__input--selection {
        margin-left: 135px;
        width: 90%;
    }

    .selection-about,
    .tour,
    .hotel {
        margin-top: -20px;
    }


    .selection-about .selection__label,
    .tour .selection__label,
    .hotel .selection__label {
        margin-top: 0;
    }

    .clear {
        right: -323px;
    }

    .footer__address,
    .footer__schedule,
    .footer__contacts,
    .footer__social {
        display: block;
        float: none;
    }

    .footer__social {
        margin-left: 0;
    }
    
    .footer__container {
        padding-left: 25px;
    }

}

@media screen and (max-width: 600px) {
    .form__input--selection {
        width: 75%;
    }

    .clear {
        right: -290px;
    }

    .area-country__item--show {
        display: block;
        margin-bottom: 10px;
    }

    .btn-view {
        width: 90px;
    }

    .selection__block--about {
        /*width: 55%;*/
    }
}

@media screen and (max-width: 520px) {
    .selection__block--about {
        /*width: 55%;*/
    }
}