* {
    outline: none;
}

body {
    margin: 0 auto;
    min-width: 375px;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #bdbdbd;
    background: #f2f2f2;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    max-width: 1206px;
    margin: 0 auto;
}

.container-in {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    color: #333333;
}

.header {
    background: #008bd4;
    color: #ffffff;    
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.logo {
    position: absolute;
}

.menu__list,
.area-country__list {
    margin:  0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: inline-block;
    position: relative;
    margin: 0 5px;

}

.menu__link {
    display: block;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;    
    text-decoration: none;
    padding: 5px 30px 5px 10px;
}



span {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  color: #ffffff;
}

.menu__item:hover .menu__link,
.menu__item--active .menu__link {
    color: transparent;
}

.menu__item:hover span,
.menu__item--active span {
    display: block;
    font-weight: bold;
    margin-left: -2px;
    left: 10px;
    right: 0;
    top: 5px;
}

.form {
    background: #ffffff;
    margin-bottom: 60px;
}

.selection__list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;


}

.selection__item {
    display: inline-block;
    margin-right: 2px;
}

.selection__link {
    display: block;
    padding: 15px 20px;
    font-size: 15px;
    text-transform: uppercase;
    color: #bdbdbd;
    text-decoration: none;
    position: relative;
}

.selection__item:hover .selection__link {
    color: #2d9cdb;
}
.selection__item:hover .selection__link::after {
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    background: #2d9cdb;
    bottom: 0;
    left: 17px;
}

.form__top {
    position: relative;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 40px;

}

.form__acts {
    position: relative;
    padding: 0 20px;
}

.selection-about {
    margin-bottom: 50px;
    display: inline-block;
}

.selection__btn {
    border: none;
    background: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 20px;
    cursor: pointer;
    background: url(../img/sprite.png) no-repeat
}

.selection__btn--add {
    color: #2d9cdb;
}

.selection__btn--delete {
    color: #d75a4a;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
}

.selection__btn-block,
.selection__view-block {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.selection__btn-block::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../img/sprite.png) no-repeat;
    top: 4px;
    left: 0;
}

.selection__btn-block--add::before {
    background-position: -61px -32px;
}

.selection__btn-block--delete {
    bottom: 17px;
    left: 73px;
}

.selection__btn-block--delete::before {
    background-position: -162px -32px;

}

.selection__block {
    display: inline-block;
    position: relative;
    font-size: 12px;
    /*margin-bottom: 50px;*/
    /*margin-left: -20px;*/
}

.selection__label {
    position: absolute;
    margin: -25px 0 0 10px;
}

.form__input {
    /*position: absolute;*/
    top: 25px;
    box-sizing: border-box;
    color: #333333;
    border-radius: 2px;
    border: 1px solid #bdbdbd;
    padding: 5px 10px;
}

.form__input--selection {
    width: 224px;
    box-sizing: border-box;
}

.delete {
    position: relative;
    right: -180px;
    top: -19px;
    cursor: pointer;
}

.delete::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background: #bdbdbd;
    transform: rotate(45deg);
}

.delete::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 1px;
    background: #bdbdbd;
    transform: rotate(-45deg);
}

.area {
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    padding: 0 15px 20px;
    color: #333333;
    margin-bottom: 25px;
}

.area-country__item {
    position: relative;
    display: inline-block;
    padding: 5px 0 5px 35px;
    background: #f2f2f2;
    border-radius: 20px;
    width: 156px;
    box-sizing: border-box;
}

.area-country__item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 15px;
    left: 9px;
    top: 10px;
    background: url(../img/sprite.png) no-repeat;
}

.area-country__item--tailand::before {
    background-position: -60px -120px ;
}

.area-country__item--vietnam::before {
    background-position: -161px -121px ;
}

.area-country__item--indonesia::before {
    background-position: -249px -119px ;
}

.delete--country {
    left: 80px;
    top: -12px;
}

.area__btn {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 50px;
    border: 1px solid #2d9cdb;
    color: #2d9cdb;
    background: #ffffff;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 5px 15px;
    cursor: pointer;
}

.ares__btn:hover {
    background: #2d9cdb;
    color: #ffffff;
}


.tour {
    margin-bottom: 50px;
}

.hotel {
    margin-bottom: 30px;
    margin-right: 30px;
    display: inline-block;
}

.form__input--tour,
.form__input--hotel {
    
    margin-right: 0;
}

.form__input--tour-date {
    width: 272px;
}

.form__input--tour-how {
    width: 170px;
}


.form__input--tour-mun {
    width: 214px;
}

.form__input--tour-cost {
    width: 264px;
}

.selection__block--tour,
.selection__block--hotel {
    margin-right: -5px;
}

.form__input--hotel-category {
    width: 162px;
}

.form__input--hotel-rating {
    width: 185px;
}

.form__input--hotel-eat {
    width: 123px;
}

.form__input--hotel-hotel_where {
    width: 226px;
}

.btn-view {
    position: relative;
    float: right;
    display: inline-block;
    top: 0;
    background: #ff8e41;
    border: none;
    padding: 10px 40px 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
}

.selection__view-block {
    float: right;
}

.selection__view-block::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    right: 7px;
    top: 13px;
    background: url(../img/sprite.png) no-repeat -248px -32px;
}

.footer {
    background: #ffffff;
    padding-top: 30px;
}

.footer__address, 
.footer__schedule, 
.footer__contacts,
.footer__social {
    display: inline-block;
    vertical-align: top;
}