
body {
    margin: 0 auto;
    min-width: 375px;
    font-size: 12px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #bdbdbd;
    background: #f2f2f2;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    max-width: 1206px;
    margin: 0 auto;
}

.container-in {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    
}

.header {
    background: #008bd4;
    color: #ffffff;    
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.logo {
    position: absolute;
}

.menu__list {
    margin:  0;
    padding: 0;
    list-style: none;
}

.menu__item {
    display: inline-block;
    position: relative;
    margin: 0 5px;

}

.menu__link {
    display: block;
    font-weight: 100;
    font-size: 18px;
    color: #ffffff;    
    text-decoration: none;
    padding: 5px 30px 5px 10px;
}



span {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  color: #ffffff;
}

.menu__item:hover .menu__link,
.menu__item--active .menu__link {
    color: transparent;
}

.menu__item:hover span,
.menu__item--active span {
    display: block;
    font-weight: bold;
    margin-left: -2px;
    left: 10px;
    right: 0;
    top: 5px;
}